<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Contact Info</p>
  <p>Name: "{{name}}"</p>
  <p>Email: "{{email}}"</p>
  <br />
  <p>Project: "{{project}}"</p>
  <hr />
  <p>Message:</p>
  <p>"{{message}}"</p>
  <hr />
  <p><i>Contacted by portfolio</i></p>
</div>
